[submodule "firmware/lib/esp8266"]
	path = firmware/lib/esp8266
	url = https://github.com/esp8266/Arduino.git
[submodule "firmware/lib/ArduinoCore-avr"]
	path = firmware/lib/ArduinoCore-avr
	url = https://github.com/arduino/ArduinoCore-avr.git
[submodule "firmware/lib/ArduinoRS485"]
	path = firmware/lib/ArduinoRS485
	url = https://github.com/arduino-libraries/ArduinoRS485.git
